ddtrace
diff-match-patch==20181111
Django==4.1.6
django-bootstrap4==22.3
django_debug_toolbar
django-enumfield
django-environ
django-filter
django-form-utils
django-haystack==3.2.1
django-health-check
django-import-export
django-reversion
django-reversion-compare
djangorestframework
drf-writable-nested
elasticsearch>=2.0.0,<3.0.0 # rq.filter: >=2.0.0,<3.0.0
gunicorn
mozilla-django-oidc
psycopg2-binary
python-dateutil
python-mimeparse
requests
six
whitenoise
Whoosh
python-ldap
pre-commit
