Django>=1.9,<1.10
Whoosh==2.7.4
django-auth-ldap==1.2.8
django-form-utils==1.0.3
django-haystack==2.5.1
django-reversion==2.0.8
django-tastypie==0.13.3
psycopg2
pyelasticsearch==1.4
pytz
requests==2.10.0
simplejson==3.10.0
six==1.10.0
djangorestframework==3.5.3
django-filter==1.0.1
markdown==2.6.7
django_compressor==2.1
python-memcached==1.58
django-debug-toolbar==1.6
django-reversion-compare==0.7.2
diff-match-patch==20121119
django-enumfield==1.2.1
django-bootstrap3==7.1.0
pyldap==2.4.25.1
python-dateutil==2.6.0
python-mimeparse==1.6.0
