Django==1.11.6
Whoosh==2.7.4
django-auth-ldap==1.2.13
django-form-utils==1.0.3
django-haystack==2.6.1
django-reversion==2.0.9
django-tastypie==0.14.0
psycopg2
elasticsearch>=2.0.0,<3.0.0 # rq.filter: >=2.0.0,<3.0.0
pytz
requests==2.18.1
simplejson==3.11.1
six==1.10.0
djangorestframework==3.6.3
django-filter==1.0.4
markdown==2.6.8
django_compressor==2.1.1
python-memcached==1.58
django-debug-toolbar==1.8
django-reversion-compare==0.7.5
diff-match-patch==20121119
django-enumfield==1.2.1
django-bootstrap3==8.2.3
pyldap==2.4.37
python-dateutil==2.6.0
python-mimeparse==1.6.0
whitenoise==3.3.0
