{% extends "base.html" %}
{% load url from future %}

{% block content %}

{{ form.non_field_errors }}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table id="login">
<tr>
    <td>{{ form.username.label_tag }}:</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}:</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}