{% extends "base_bootstrap3.html" %}
{% load static ldb_tags %}

{% block content %}
<div id="dashboard">
  <img id="logo" src="{% static 'img/ch-logo.png' %}" width="600" class="img-fluid center-block" />

  <ul>
    <li><a href="{% url 'ldb_index' %}"><i class="fa fa-5x fa-users"></i><br /> Ledendatabase</a></li>
    <li><a href="{% url 'post_index' %}"><i class="fa fa-5x fa-envelope"></i><br /> Post</a></li>
    {% if user|has_group:'userman2' %}
    <li><a href="https://userman2.ch.tudelft.nl/"><i class="fa fa-5x fa-user-secret"></i><br /> Userman</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}