{% load static pipeline %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }} - Dienst2</title>
  {% stylesheet 'bootstrap' %}
  {% stylesheet 'bootstrap-responsive' %}
  {% block styles %}{% endblock %}
</head>
<body{% if ng_app %} ng-app="{{ng_app}}"{% endif %}>
  {% block content %}{% endblock %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.0.2/js/bootstrap-datepicker.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.5/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.1/angular-strap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ocanvas/2.4.0/ocanvas.min.js"></script>
  {% block javascript_libraries %}{% endblock %}
  <script type="text/javascript">
    window.prefix = '{% get_static_prefix %}';
    window.admin = {{ perms.admin|yesno:'true,false' }};
  </script>
  {% javascript 'dienst2' %}
  {% javascript ng_app %}
  {% block javascript %}{% endblock %}
  <div class="row-fluid">
    <div class="span4 offset4">
      <div class="alert alert-info" style="opacity: 0.7; margin-top: 2em">
        <strong>Werkt het niet?</strong> Maak een <a href="https://github.com/WISVCH/dienst2/issues">issue</a> aan.
      </div>
    </div>
  </div>
</body>
</html>
