{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-responsive.min.css"/>
  {% block styles %}{% endblock %}
</head>
<body{% if ng_app %} ng-app="{{ng_app}}"{% endif %}>
  <div class="row-fluid">
    <div class="span4 offset4">
      <div class="alert">
        <strong>Werkt het niet?</strong> Maak een <a href="https://github.com/WISVCH/dienst2/issues">issue</a> aan.
      </div>
    </div>
  </div>
  {% block content %}{% endblock %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.0.2/js/bootstrap-datepicker.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.5/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.1/angular-strap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ocanvas/2.4.0/ocanvas.min.js"></script>
  {% block javascript_libraries %}{% endblock %}
  <script type="text/javascript">
    window.prefix = '{% get_static_prefix %}';
  </script>
  <script src="{% get_static_prefix %}js/dienst2.js"></script>
  {% if ng_app %}<script src="{% get_static_prefix %}js/{{ng_app}}.js"></script>{% endif %}
  {% block javascript %}{% endblock %}
</body>
</html>
