{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-responsive.min.css"/>
  {% block styles %}{% endblock %}
</head>
<body{% if ng_app %} ng-app="{{ng_app}}"{% endif %}>
  {% block content %}{% endblock %}
  <script src="{% get_static_prefix %}lib/jquery-1.9.0/jquery.min.js"></script>
  <script src="{% get_static_prefix %}lib/bootstrap-2.2.2/bootstrap.min.js"></script>
  <script src="{% get_static_prefix %}lib/angular-1.0.4/angular.min.js"></script>
  <script src="{% get_static_prefix %}lib/angular-strap-0.6.3/angular-strap.min.js"></script>
  <script src="{% get_static_prefix %}lib/spin-1.2.7/spin.min.js"></script>
  {% block javascript_libraries %}{% endblock %}
  <script type="text/javascript">
    window.prefix = '{% get_static_prefix %}';
  </script>
  <script src="{% get_static_prefix %}js/dienst2.js"></script>
  {% if ng_app %}<script src="{% get_static_prefix %}js/{{ng_app}}.js"></script>{% endif %}
  {% block javascript %}{% endblock %}
</body>
</html>
