#header {
    background: #0e4385;
    border-bottom: 1px solid #0b3365;
}

#header h1 {
    color: #FFF;
}

td.original p {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding-top: 0 !important;
}

.module, .inline-group {
    border-color: #0b3365 !important;
}

.module h2, .module caption, .inline-group h2 {
    background: #0e4385;
}
