#dashboard #logo {
  margin-bottom: 50px;
}

#dashboard ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#dashboard li {
  display: inline-block;
  width: 200px;
  font-size: 20px;
  margin-bottom: 50px;
}

.committees {
  font-size: 12px;
}

.navbar {
  background-color: #1e274a;
}

#navbar {
  background-color: #1e274a;
}

.fa-5x {
  color: #1e274a;
}

.fa-5x:hover {
  color: #394576;
}

a {
  color: #1e274a;
}

a:hover {
  color: #394576;
}
