{% extends "base_bootstrap3.html" %}
{% load i18n static %}

{% block menu %}
  <li><a href="{% url 'post_index' %}">{% trans 'Overview' %}</a></li>
  {% now "Y" as this_year %}{% now "W" as this_week %}
  <li><a href="{% url 'post_archive_week' this_year this_week%}">{% trans 'Week overview' %}</a></li>
  <li><a href="{% url 'post_av' %}">{% trans 'AV overview' %}</a></li>

  {% if user.is_staff %}
    <li><a href="{% url 'admin:post_item_changelist' %}">{% trans 'Admin' %}</a></li>{% endif %}
  {#<li><a href="{% url 'ldb_export_lists' %}">Lijsten exporteren</a></li>#}
{% endblock %}
