<div class="row">
  <div class="span12">
    <form class="form-inline well">
      <input type="text" class="input-xxlarge" placeholder="Search" ng-model="search">
    </form>
  </div>
</div>

<div class="row" ng-show="search.length>1">
  <div class="span12">
    <div class="well">
      <h1>
        <ng-pluralize 
          count="people.total_count"
          when="{'0': 'No results',
                 'one': 'One result',
                 'other': '{} results'}">
        </ng-pluralize>
        for "{{search}}"</h1>

      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="person in people | orderBy:'surname'"><a href="?#/person/{{person.id}}">{{person.firstname}} {{person.preposition}} {{person.surname}}</a></div>
      </ul>

    </div>
  </div>
</div>