<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>
        {{organization.name}}

        <small>
          <a ng-hide="editmode" class="btn btn-inverse" href ng-click="editmode=true">Bewerken</a>
          <a ng-show="editmode" class="btn btn-primary" href ng-click="save()">Opslaan</a>

          <a ng-show="editmode && organization.id" class="btn btn-danger" href ng-click="removeOrganization()">Verwijderen</a>

          <a class="btn btn-inverse" href="../admin/ldb/organization/{{organization.id}}">Beheer</a>
        </small>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <section class="well">
      <h2>Algemeen</h2>

      <div>
        <div>
          <span ch-editable ch-model="organization.name_prefix" ch-template="text" ch-placeholder="Naam Voorvoegsel" ch-class="input-medium"></span>
          <span ch-editable ch-model="organization.name" ch-template="text" ch-placeholder="Naam" ch-class="input-large"></span> <br />
          <span ch-editable ch-model="organization.name_short" ch-template="text" ch-placeholder="Naam kort" ch-class="input-small"></span> <br />
          <strong>Aanhef:</strong> <span ch-editable ch-model="organization.salutation" ch-template="text" ch-placeholder="Aanhef" ch-class="input-large"></span>
        </div>
      </div>

      <div>
        <h3>Adres <small ng-show="editmode"><a class="icon-remove" ng-click="organization.emptyAddr()"></a></small></h3>
        <div ng-show="organization.country || editmode">
          <div>
            <span ch-editable ch-model="organization.street_name" ch-template="text" ch-placeholder="Straatnaam" ch-class="input-large"></span>
            <span ch-editable ch-model="organization.house_number" ch-template="text" ch-placeholder="Nummer" ch-class="input-small"></span>
          </div>
          <div ng-show="organization.address_2 || editmode">
            <span ch-editable ch-model="organization.address_2" ch-template="text" ch-placeholder="Adresregel 2" ch-class="input-xlarge"></span>
          </div>
          <div ng-show="organization.address_3 || editmode">
            <span ch-editable ch-model="organization.address_3" ch-template="text" ch-placeholder="Adresregel 3" ch-class="input-xlarge"></span>
          </div>
          <div>
            <span ch-editable ch-model="organization.postcode" ch-template="text" ch-placeholder="Postcode" ch-class="input-small"></span>
            <span ch-editable ch-model="organization.city" ch-template="text" ch-placeholder="Stad" ch-class="input-large"></span>
            <span ng-hide="organization.country=='NL' || editmode">({{organization.country}})</span>
            <select ng-show="editmode" class="input-medium" ng-model="organization.country" ng-options="code as name for (code , name) in country_list">
              <option value="">-- geen land --</option>
            </select>
          </div>
        </div>
        <div ng-hide="organization.country || editmode">
          <em class="muted">Geen adres beschikbaar</em>
        </div>
      </div>

      <div>
        <h3>Contact</h3>
        <div>
          <span ch-editable ch-model="organization.email" ch-template="text" ch-placeholder="Email adres" ch-class="input-large"></span>
          <a ng-href="mailto:{{organization.email}}"><i class="icon-envelope"></i></a>
        </div>

        <div ng-show="organization.phone_fixed || editmode">
          <strong>Vast:</strong> 
          <span ch-editable ch-model="organization.phone_fixed" ch-template="text" ch-placeholder="Telefoon vast" ch-class="input-medium"></span>
        </div>
      </div>

      <div ng-show="organization.comment || editmode">
        <h3>Opmerkingen</h3>
        <div ch-editable ch-model="organization.comment" ch-template="multiline" ch-class=""></div>
      </div>

    </section>

  </div>

  <div class="span6">
    <section class="well">
      <h2>Aanmeldingen</h2>

      <span ch-editable ch-model="organization.machazine" ch-template="check"></span> MaCHazine<br />
      <span ch-editable ch-model="organization.yearbook" ch-template="check"></span> Jaarboek<br />
      <span ch-editable ch-model="organization.constitution_card" ch-template="check"></span> Constitutiekaartje<br />
      <span ch-editable ch-model="organization.christmas_card" ch-template="check"></span> Kerstkaartje<br />

      <br />

      <span ch-editable ch-model="organization.board_invites" ch-template="check"></span> Uitnodigingen Bestuur<br />
        
    </section>


  </div>
</div>
