{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Ledenadministratie | Dienst2</title>
		<link href="{% get_static_prefix %}css/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{% get_static_prefix %}js/jquery.min.js"></script>
		{% block extra_js %}{% endblock %}
	</head>
	
	<body>
		<div id="centered">
			<div id="menu">
				<ul>
					<li>
						<a href="{% url index %}">Ledenadministratie</a>
						<ul>
							<li><a href="{% url index %}">Zoeken</a></li>
							<li><a href="{% url ldb_people_create %}">Persoon toevoegen</a></li>
							<li><a href="{% url ldb_organizations_create %}">Organisatie toevoegen</a></li>
							<!-- <li><a href="#">Mailinglijst</a></li> -->
						</ul>
					</li>
					<li>
						<a href="https://frans.chnet/dienst/dagoverzicht.php">Kas</a>
						<ul>
							<li><a href="https://frans.chnet/dienst/transacties.php">Transacties</a></li>
							<li><a href="https://frans.chnet/dienst/dagafsluiting.php">Dagafsluiting</a></li>
						</ul>
					</li>
					<li><a href="{% url admin:index %}">Admin</a></li>
				</ul>
			</div>
	        <h1 id="site-name">Ledenadministratie</h1>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>