<html>
<form action="/form" method="POST">
    <p>Simple user form</p>
    <label for="fname">firstname</label>
    <input type="text" name="fname" value="re2d" id="re2d">
    <label for="lastName">lastName</label>
    <input type="text" name="lastname" value="green" id="green">
    <label for="birthDate">birthDate</label>
    <input type="text" name="birthdate" value="blue" id="blue">
    <label for="red">Red</label>
    <input type="checkbox" name="colors[]" value="red" id="red">
    <input type="submit">
</form>
</html>