{% extends "ldb/base.html" %}
{% load static %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div ng-app="{{ ng_app }}" ng-view></div>

  <script type="text/javascript">
    window.App = angular.module("ldb", ["ldb.controllers"]).config([
      "$routeProvider",
      function($routeProvider) {
        $routeProvider.when("/", {
          templateUrl: "{% static 'partials/export.html' %}",
          controller: "ExportController"
        });
      }
    ]);

    angular.module("ldb.controllers", []).controller("ExportController", [
      "$scope", "$http", "$filter",
      function($scope, $http, $filter) {
        $scope.export = {
          queryset: {},
          filters: {},
          fields: {},
        };
        return ($scope.loadExport = function() {
          return $http({
            method: 'POST',
            url: window.location.pathname,
            headers: {
              'Accept': 'text/csv',
              'X-CSRFToken': '{{ csrf_token }}',
            },
            data: $scope.export
          }).success(function(data, status, headers, config) {
            return ($scope.data = data);
          }).error(function(err) {
            console.error(err);
            return ($scope.data = err);
          });
        });
      }
    ]);
  </script>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="alert alert-info" style="opacity: 0.7; margin-top: 2em; text-align: center">
        <strong>Werkt het niet?</strong>
        <a href="https://github.com/WISVCH/dienst2/issues/92">Fix het!</a>
      </div>
    </div>
  </div>
{% endblock %}
