{% extends 'ldb/base.html' %}

{% block content %}
<h2>{{ list }}</h2>

<div>
    <h2>Mailinglijsten</h2>

    <a href="{% url 'ldb_export_list' type='mailing' list='announcements' %}">Activiteitenmailing</a>

    <br />

    <a href="{% url 'ldb_export_list' type='mailing' list='company' %}">Bedrijvenmailing</a>

    <h2>Adreslijsten</h2>

    <a href="{% url 'ldb_export_list' type='address' list='machazine' %}">MaCHazine</a>

    <br />

    <a href="{% url 'ldb_export_list' type='address' list='constitution' %}">Constitutiekaartjes</a>

    <br />

    <a href="{% url 'ldb_export_list' type='address' list='christmas' %}">Kerstkaartjes</a>
</div>
{% endblock %}
