{% extends 'ldb/base.html' %}

{% block extra_js %}
<script type="text/javascript">
var selected = -1;
var q;
var xhr;

$(document).ready( function() {
    $('#q').keyup( function() {
        if (q != $('#q').val()) {
            selected = -1;
            q = $('#q').val();
            if (q) {
                location.hash = q;
                if(xhr !== undefined) { xhr.abort(); }
                xhr = $.ajax({
                    url: '{% url 'ldb_people_search' %}?q=' + encodeURIComponent(q),
                    success: function(data) {
                       $('#results').html(data);
                    }
                  });
            }
            else
                $('#results').html('&nbsp;');
        }
    });
    $('#q').focus()
    $('#q').val(location.hash.substring(1));
    $('#q').keyup()
});

$(document).keyup(function(e){
    var table = $('#results table tr.resultrow');
    
    if (table.size() > 0) {
        if (e.which == 40) {
            $(table[selected]).removeClass('selected');
            selected = wraparound(selected, 1, table.size());
            $(table[selected]).addClass('selected');
        }
        else if(e.which == 38) {
            $(table[selected]).removeClass('selected');
            selected = wraparound(selected, -1, table.size());
            $(table[selected]).addClass('selected');
        }
        else if(e.which == 13 && $("td a", table[selected]).length) {
            window.location.href = $("td a", table[selected]).attr('href');
        }
    }
});

function wraparound(i, delta, max) {
    i += delta;
    if (i >= max) {
        i = 0;
    }
    else if (i < 0) {
        i = max-1;
    }
    return i;
}

$( document ).ajaxStart( function() {
    $('#spinner').show();
}).ajaxStop( function() {
    $('#spinner').hide();
    
    var table = $('#results table tr.resultrow');
    table.mouseover( function() {
        $(table[selected]).removeClass('selected');
        selected = table.index(this);
        $(this).addClass('selected');
    });
});
</script>
{% endblock %}

{% block content %}
<div>
    <input id="q" type="text" style="width: 99%" autocomplete="off" />
    <br/>
    <span class="hint">
        Begin met typen om te zoeken.
        <span id="spinner"><img height="12px" width="12px" src="{{ STATIC_URL }}images/spinner.gif"/></span>
    </span>
    <div class="margin">
        <div id="results"></div>
    </div>
</div>
{% endblock %}
