{% extends 'ldb/base.html' %}
{% load i18n static %}

{% block extra_js %}
  <script type="text/javascript">
    var q;
    var xhr;

    $(document).ready(function () {
      $('#spinner').hide();
      var $q = $('#q');

      $q.keyup(function (e) {
        if (q != $q.val()) {
          q = $('#q').val();
          location.hash = q;
          if (q) {
            if (xhr !== undefined) {
              xhr.abort();
            }
            xhr = $.ajax({
              url: '{% url "ldb_people_search" %}?q=' + encodeURIComponent(q),
              success: function (data) {
                $('#results').html(data);
              }
            });
          }
          else
            $('#results').html('&nbsp;');
        }
        else
          if(e.keyCode === 40) {
            $('#results a:first-child').focus();
          }
      });


      $('#results').on("keyup", "a", function (e) {
        switch(e.keyCode) {
          case 38:
            if($(this).prev().hasClass("list-group-item")) {
              $(this).prev().focus();
            }
            else {
              $q.focus();
            }
            break;
          case 40:
            $(this).next().focus();
            break;
          case 27:
            $q.focus();
            break;
          default:
            // nop
        }
      });

      $q.focus();
      $q.val(location.hash.substring(1));
      $q.keyup();
    });

    $(document).ajaxStart(function () {
      $('#spinner').show();
    }).ajaxStop(function () {
      $('#spinner').hide();
    });
  </script>
{% endblock %}

{% block content %}
  <h2 class="pb-2 mt-4 mb-2 border-bottom">{% trans 'Search' %}</h2>
  <div class="input-group">
    <input id="q" autocomplete="off" type="text" class="form-control" placeholder="{% trans 'Search' %}">
    <span class="input-group-append"><i class="fa fa-fw fa-search"></i></span>
  </div>
  <p class="form-text">
    Begin met typen om te zoeken.
    <i id="spinner" class="fa fa-fw fa-spinner fa-pulse"></i>
  </p>

  <div class="margin">
    <div id="results"></div>
  </div>
{% endblock %}
