{% extends 'ldb/base.html' %}
{% load ldb_tags bootstrap3 %}

{% block content %}
<div id="entity_form">
{% if organization %}
<h2>Bewerk {{ organization }}</h2>
{% else %}
<h2>Organisatie aanmaken</h2>
{% endif %}

{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Naam</legend>
                {% get_fieldset name_prefix,name,name_short,salutation as name_fields from form %}
                {% bootstrap_form name_fields layout='horizontal' %}
            </fieldset>
            <fieldset>
                <legend>Adres</legend>
                {% get_fieldset street_name,house_number,postcode,address_2,address_3,city,country,email as address_fields from form %}
                {% bootstrap_form address_fields layout='horizontal' %}
            </fieldset>
            <fieldset>
                <legend>Telefoon</legend>
                {% get_fieldset phone_fixed as phone_fields from form %}
                {% bootstrap_form phone_fields layout='horizontal' %}
            </fieldset>
            <fieldset>
                <legend>Overige</legend>
                {% get_fieldset comment as other_fields from form %}
                {% bootstrap_form other_fields layout='horizontal' %}
            </fieldset>
        </div>

        <div class="col-md-6">
            <fieldset>
                <legend>Aanmeldingen</legend>
                {% get_fieldset machazine,board_invites,constitution_card,christmas_card,yearbook as subscription_fields from form %}
                {% bootstrap_form subscription_fields layout='horizontal' %}
            </fieldset>
        </div>
    </div>
    <div class="row">
        {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons%}
    </div>
</form>
</div>

{% endblock %}
