{% extends 'ldb/base.html' %}
{% load ldb_tags i18n %}

{% block title %}{% trans 'Delete' %} {{ object }}{% endblock %}

{% block content %}
  <h2 class="pb-2 mt-4 mb-2 border-bottom">{% trans 'Delete' %} {{ object }}</h2>
  <p>{% trans 'Are you sure that you would like to delete this person?' %}</p>

  <form method="POST">
    {% csrf_token %}
    <div class="btn-group">
      <button type="submit" class="btn btn-danger">{% trans 'Yes' %}</button>
      <a href="{{ object.get_absolute_url }}" class="btn btn-default">{% trans 'No' %}</a>
    </div>
  </form>
{% endblock %}
