<div class="row">
  <div class="span12">
    <div class="well form-inline">
      <input type="text" class="input-large" ng-model="description" placeholder="Omschrijving">
      <input type="text" class="input-large" ng-model="barcode" placeholder="Barcode" maxlength="12">
      <a class="btn" ng-click="getImage()">Image</a>
    </div>
  </div>
</div>

<div class="row">
  <div ng-class="{span6: image, span12: !image}" style="text-align:center">
    <div class="well">
      <canvas style="margin: 10px;" id="canvas" width="320" height="200"></canvas>
    </div>
  </div>
  <div class="span6" ng-show="image">
    <div class="well" style="text-align:center">
      <div class="alert alert-info">
        De barcode hieronder kan je opslaan. Succes ermee!
      </div>
      <img ng-src="{{image}}" width="320" height="200"/>
    </div>
  </div>
</div>