<div class="row">
  <div class="span12">
    <div class="well">
      <h1>Dagafsluiting <small>{{closure.date | tastypiedate |date:'d-M-yyyy HH:mm'}} door {{closure.user}}</small></h1>
    </div>
  </div>
</div>

<div ng-hide="closure.finished" class="row">
  <div class="span12">
    <div class="well">
      <h2>Transacties</h2>

      <div ng-hide="transactions.length > 0">Geen transacties</div>
      <ng-include ng-show="transactions.length > 0" src="'../static/partials/kas/transactionlist.html'"></ng-include>
    </div>

    <div class="well">
      <h2>Kastelling <small>{{closure.total | currency}}</small></h2>
      <table class="table">
        <thead>
          <th>100 euro</th>
          <th>50 euro</th>
          <th>20 euro</th>
          <th>10 euro</th>
          <th>5 euro</th>
          <th>2 euro</th>
          <th>1 euro</th>
          <th>50 cent</th>
          <th>20 cent</th>
          <th>10 cent</th>
          <th>5 cent</th>
        </thead>
        <tbody>
          <td><input type="text" class="input-mini" ng-model="closure.num_e100"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e50"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e20"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e10"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e5"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e2"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e1"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e050"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e020"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e010"></td>
          <td><input type="text" class="input-mini" ng-model="closure.num_e005"></td>
        </tbody>
      </table>

      <div class="alert alert-error" ng-show="closure.cashdifference != 0">
        <strong>Er is een kasverschil!</strong><br />
        Je hebt een kasverschil van {{closure.cashdifference | currency}}
      </div>

      <h2>Pintransacties</h2>

      <input type="text" class="input-large" ng-model="closure.pin">

      <div class="alert alert-error" ng-show="closure.pin - closure.transactions_pin != 0">
        <strong>Er is een pinverschil!</strong><br />
        Je hebt een pinverschil van {{closure.pin - closure.transactions_pin | currency}}
      </div>

    </div>

    <div class="well">
      <h2>Opmerkingen</h2>

      <textarea ng-model="closure.notes" rows="5" class="input-xxlarge"></textarea>
    </div>

    <div class="well">
      <a class="btn btn-primary" ng-hide="problem" ng-click="save()">Opslaan</a>

      <div class="alert alert-error" ng-show="problem">
        <p><strong>Let op!</strong></p>
        <p>De dagafsluiting is opgeslagen, maar kon nog niet voltooid worden.</p>
        <p ng-show="closure.pindifference != 0">Je hebt nog steeds een pinverschil van {{closure.pindifference|currency}}</p>
        <p ng-show="closure.cashdifference != 0">Je hebt nog steeds een kasverschil van {{closure.cashdifference|currency}}</p>

        <p><a class="btn" ng-click="save()">Opnieuw proberen</a> <a class="btn btn-danger" ng-click="confirm()">Toch voltooien</a></p>
      </div>
    </div>

  </div>
</div>

<div ng-show="closure.finished" class="row">
  <div class="span12">
    <div class="well">
        <h2>PIN Transacties <small>{{closure.transactions_pin|currency}}</small></h2>

        <table class="table table-striped">
          <thead>
            <th width="15%">Datum</th>
            <th width="10%">Gebruiker</th>
            <th width="10%">Bedrag</th>
            <th width="45%">Beschrijving</th>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions | filter:{valid:true, method:'P'} | orderBy:'date'">
              <td>{{transaction.date | tastypiedate | date:"medium"}}</td>
              <td>{{transaction.user}}</td>
              <td>{{transaction.amount | currency}}</td>
              <td>{{transaction.description}}</td>
            </tr>
          </tbody>
        </table>

        <h2>Cash Transacties <small>{{closure.transactions_cash|currency}}</small></h2>

        <table class="table table-striped">
          <thead>
            <th width="15%">Datum</th>
            <th width="10%">Gebruiker</th>
            <th width="10%">Bedrag</th>
            <th width="45%">Beschrijving</th>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions | filter:{valid:true, method:'C'} | orderBy:'date'">
              <td>{{transaction.date | tastypiedate | date:"medium"}}</td>
              <td>{{transaction.user}}</td>
              <td>{{transaction.amount | currency}}</td>
              <td>{{transaction.description}}</td>
            </tr>
          </tbody>
        </table>

        <hr />

        <h2>Kastelling <small>{{closure.total | currency}}</small></h2>
        <table class="table table-striped">
            <tr><th>Eenheid:</th>
                <th>&euro;500</th><th>&euro;200</th><th>&euro;100</th>
                <th>&euro;50</th><th>&euro;20</th><th>&euro;10</th>
                <th>&euro;5</th><th>&euro;2</th><th>&euro;1</th>
                <th>&euro;0.50</th><th>&euro;0.20</th><th>&euro;0.10</th>
                <th>&euro;0.05</th>
            </tr>
            <tr><th>Aantal:</th>
                <td>{{ closure.num_e500 }}</td><td>{{ closure.num_e200 }}</td><td>{{ closure.num_e100 }}</td>
                <td>{{ closure.num_e50 }}</td><td>{{ closure.num_e20 }}</td><td>{{ closure.num_e10 }}</td>
                <td>{{ closure.num_e5 }}</td><td>{{ closure.num_e2 }}</td><td>{{ closure.num_e1 }}</td>
                <td>{{ closure.num_e050 }}</td><td>{{ closure.num_e020 }}</td><td>{{ closure.num_e010 }}</td>
                <td>{{ closure.num_e005 }}</td>
            </tr>
        </table>

        <h2>Verschillen</h2>

        <table class="table table-striped" style="width:20%">
            <tr><th>Kasverschil:</th><td>{{closure.cashdifference | currency}}</td></tr>
            <tr><th>PINverschil:</th><td>{{closure.pindifference | currency}}</td></tr>
        </table>

        <div ng-show="closure.notes">
          <h2>Opmerkingen</h2>
          {{ closure.notes }}
        </div>

    </div>
  </div>
</div>
