<div class="row">
  <div class="span12">
    <form class="form-inline well" ng-controller="TransactionFormController" ng-submit="submit()">
      <a class="btn" style="width: 50px;" ng-click="toggleMethod()">{{method}}</a>
      <a class="btn" style="width: 50px;" ng-click="toggleInout()" id="inout">{{inout}}</a>        
      <input type="text" class="input-small" placeholder="Amount" ng-model="amount">
      <input type="text" class="input-xxlarge" placeholder="Description" ng-model="description">
      <button class="btn">Toevoegen</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="well">
      <ul class="pager">
        <li ng-show="transactions.previous"><a href ng-click="previous()">Nieuwer</a></li>
        <li ng-hide="transactions.previous" class="disabled"><a href>Nieuwer</a></li>
        <li ng-show="transactions.next"><a href ng-click="next()">Ouder</a></li>
        <li ng-hide="transactions.next" class="disabled"><a href>Ouder</a></li>
      </ul>
      <ng-include src="'../static/partials/kas/transactionlist.html'"></ng-include>
    </div>
  </div>
</div>